<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Social-Login</title>
    <link th:href="@{../css/style.css}" rel="stylesheet"/>
    <link th:href="@{../css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{../js/custom.js}"></script>
    <script th:src="@{../js/boostrap.js}"></script>
    <script th:src="@{../js/jquery-3.3.1.min.js}"></script>
</head>
<body>

<div class="container">
    <p>
        This application build on top of <code>Java Spring Boot</code>.
    </p>
</div>
</body>
</html>